<div id="<%= todo.id %>" class="alert alert-info alert-dismissible" role="alert" draggable="true" ondragstart="startDrag(event)" ondragend="endDrag(event)">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">
    <%= link_to 'x', [todo.user, todo], method: :delete, remote: true %>
    </span>
  </button>
  <%= todo.content %>
</div>